---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Seorang mahasiswa ekstensi S1 terapan Teknik Rekayasa Multimedia dengan pengalaman di bidang Artificial Intelligence 
    selama kurang lebih 6 bulan. Memiliki pengalaman baik di Computer Vision maupun Data Science yang dilakukan 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Edukasi</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="S1 Terapan Teknik Rekayasa Multimedia"
      subtitle="2024 hingga saat ini di Telkom University, Bandung, Jawa Barat"
    />
    <TimeLineElement
      title="D3 Teknologi Komputer"
      subtitle="2021 hingga 2024 di Telkom University, Bandung, Jawa Barat"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pengalaman Magang dan Kerja</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Tugas Besar Mata Kuliah AI"
      subtitle="Desember 2024 - Januari 2025"
    >
      Mengklasifikasikan jenis kelamin ikan nila menggunakan Computer Vision dengan metode SVM di Lab Perikanan Unpad.
      Hasil akurasi yang didapat hingga 88%.
    </TimeLineElement>
    <TimeLineElement
      title="STAS-RG Laboratory Telkom University"
      subtitle="Juli 2022 - Februari 2025"
    >
      Melakukan beberapa penelitian di bidang Internet of Things. Mengaplikasikan metode AI dasar seperti regresi linear untuk
      menerapkan cara kerja alat ukur tekanan aktual kepada sensor yang diteliti. Dengan tujuan agar dapat berfungsi selayaknya
      alat ukur dalam bentuk lebih simpel dan minimalis.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sertifikasi</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/15N09IgpacmDRz9UTUqKHjZT5-9MxixPS/view?usp=drive_link" target="_blank"> Python Fundamentals</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1_yOmZ43pT2vxoH_PxH2GHqoH8CHOylhn/view?usp=drive_link" target="_blank"> R Fundamentals</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1ctMU2hK9CJbcb_Jd_vqVs_LXNhMjtF_m/view?usp=drive_link" target="_blank"> SQL Fundamentals</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/137rdBGzdfIXHzfPqWBeB6nD0EMHBZsvC/view?usp=drive_link" target="_blank"> Free Class : Data Science Fundamentals</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C++</li>
    <li>PHP Laravel</li>
    <li>Design Thinking</li>
    <li>Problem Solving</li>
    <li>Team Management</li>
    <li>Google Colab</li>
    <li>R</li>
    <li>AR/VR</li>
  </ul>
  <div class="mb-10"></div>
  <div>
    <b>Link Resume : </b> <a href="https://drive.google.com/file/d/1ruPe93pwL4FKGGwDpMzKtcCaVTiaIY5Y/view?usp=sharing">Download My Resume</a>
  </div>
  <div>
    <b>Link CV : </b> <a href="https://drive.google.com/file/d/1RHSxwGMTvhE-CpYkNTdq9CbYrCSIfExh/view?usp=drive_link">Download My CV</a>
  </div>
  
</BaseLayout>
